[submodule "kinova_control"]
    path = src/kinova_control
    url = git@github.com:roahmlab/kinova_control.git
    branch = ros2
[submodule "src/RAPTOR"]
	path = src/RAPTOR
	url = https://github.com/roahmlab/RAPTOR.git
    branch = sys_id_dev
